html {
    scroll-padding-top: 80px;
}
body {
    background-color: #1a1a1a !important;
}
.disclaimer {
    display: none
}
.active {
    background-color: rgb(131, 23, 131);
    font-weight: bold;
}

.margin {
    margin: 0px 8%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #fff;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}