@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.woff2') format('woff2'),
        url('../fonts/Minecraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
 margin: 0;
 padding: 0;
 background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/mcbg.png);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
ul li {
  float: left;
  width: 10%;
  font-size: 50px;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111;
}
.gora {
  padding: 20px;
  margin-top: 30px;
  height: calc(100% + 10px);;
}
.center {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-bottom: 8px;
 height: auto;
 padding-top: 8px;
 border-radius: 5px;
 float: left;
 width: 99%;
}
.logo {
 background: rgba(0, 0, 0, .6);
 color: white;
 font-family: 'Minecraft';
 font-size: 50px;
 padding: 0 50px; 
}
/* ==================================== */
/*           ˇˇ LEWE MENU ˇˇ            */
/* ==================================== */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 3;
}
.sidenav a {
  margin: 0px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav .active {
 background-color: #4CAF50;
 color: black;
}
.sidenav .active:hover {
 color: white;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav #searchBar {
  background: #b3b3b3;
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
  padding: 11px;
}
.sidenav ol {
 display: block;
 list-style-type: none;
 padding: 8px 0 8px 0;
 margin-block-start: 0px;
 margin-block-end: 0px;;
}
.sidenav ol li {
 display: list-item;
}
/* ==================================== */
/*           ^^ LEWE MENU ^^            */
/* ==================================== */
