html {
  scroll-padding-top: 80px;
}
body {
  background-color: #1a1a1a !important;
}
#section {
  min-height: 80vh;
}
.navbar-dark .navbar-nav .nav-link.active {
  background-color: rgb(131, 23, 131);
  font-weight: bold;
}
.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.avatar {
  margin-top: auto;
  margin-bottom: auto;
  margin: 8%;
}
.margin {
  margin-top: auto;
  margin-bottom: auto;
  margin: 8%;
}
.list-group .list-group-item {
  background-color: #343A40;
  color: white;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #fff;
}
.separator:not(:empty)::before {
  margin-right: .25em;
}
.separator:not(:empty)::after {
  margin-left: .25em;
}
.page{
  height: 100vh;
  position: relative;
}